{% extends 'news/base.html' %}
{% block body %}

	{% if headings %}
		{% for heading in headings %}
			<div class="headings_container">
				<div class="heading">
					<h1 style="color:blue;">#{{heading.heading_title}}</h1>
					{% for category in heading.categories.all %}
						<ul>
							<li><h3>{{ category }}</h3></li>
						</ul>
					{% endfor %}
					{% for news in heading.news_set.all %}
						<ul>
							<li>{{news.news_title}} - #upvotes</li>
						</ul>
					{% endfor %}
				</div>
				<div class="counter_headings">
					<h1>Other Perspectives</h1>
				</div>
			</div>
			<br>
		{% endfor %}
	{% else %}
		<h2>No headings for now.</h2>
	{% endif %}

{% endblock %}