<div>
	<h1>News Preview</h1>
	
	<img src="{{news_image}}">
	<input type="hidden" name="news_image" value="{{news_image}}">
	
	<h1>{{news_title}}</h1>
	<input type="hidden" name="news_title" value="{{news_title}}">
	
	<h2>{{news_site_name}}</h2>
	<input type="hidden" name="news_site_name" value="{{news_site_name}}">

	<p>{{news_description}}</p>
	<input type="hidden" name="news_description" value="{{news_description}}">

	<input type="hidden" name="news_url" value="{{news_url}}">

	<h2>{{news_author}}</h2>
	<input type="hidden" name="news_author" value="{{news_author}}">
</div>